body {
  font-family: 'CooperHewitt-Medium'; 
}

/* css from template */
html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  background-color: #EEEEEE;
}
#page {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-areas: "header header header"
                       "left   center right"
                       "footer footer footer";
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 33% 33% 34%;
}
#page > .header span, #page > .footer{
  padding: 1ex 3ex;  
}
#page > .header {
  grid-area: header;
  display: flex;
  background-color: #31436b;
  font-family: 'charter_regular' !important;
  color:white;
}

#page > .header .offlineIcon {
  margin-top:0.1em;
  width: 1.8em;
  height: 1.8em; 
  position: absolute;
  right: 20px;
}
.online{
  content: url('../images/online.png');
}
.offline{
  content: url('../images/offline.png');
}
#page > .footer {
  grid-area: footer;
  background-color: #31436b;
  text-align: right;
  font-style: italic;
  font-family: 'charter_regular' !important;
  color:white;
}
#page > .description {
  grid-area: left;
  display: flex;
  position: relative;  
}
#page > .search {
  grid-area: center;
  /* display: flex; */
  background-color: #F2EEED;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#page > .summary {
  grid-area: right;
  display: flex;
  position: relative;
  background-color: white;
  padding: 0px 20px;
  overflow-y: auto;
}

.placeholder-div{
  padding: 10px;
  color: #9197a3;
  position: absolute;
  z-index: 0;
}


/*========= editor style ================*/

#page .rdw-editor-wrapper{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
ul{
  -webkit-padding-start: 20px;
}
.react-wysiwyg-typescript-toolbar{  
  visibility: hidden !important;
  height: 0;
  margin-bottom:0px !important;
  padding: 0px !important;
  border: none !important;
}
.react-wysiwyg-typescript-editor{
  border: none !important;
}
.description .react-wysiwyg-typescript-editor{
  background-color: white;
}
.summary .react-wysiwyg-typescript-editor{
  background-color: white;
}
.public-DraftStyleDefault-block{
  margin-top: 0 !important;
  margin-bottom: 0.5em !important;  
}
.public-DraftEditor-content{
  width: 100%;
  position: absolute;
}
/* ============== search List style */
/* .search ul{
  list-style: none;
  -webkit-margin-before: 0px;
} */
.search-result{
  width: 100%;
}
.search-result>div{
  padding: 5px 20px;
}
.search-list-score{
  padding-right: 20px;
}
.search-list-title{
  color: #0c1d9c;
  cursor: pointer;
}
.search-list-title:hover{
  color: red;
  text-decoration-line: underline;
}
[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text);
  color: #0000004a;
}
.fill-in-fragment{
  /* width: calc(33% - 40px);
   */
   width: 100%;
  /* position: absolute;
  float: left; */
}


/* jquery balloon style */

* {
  box-sizing: border-box;
}

#wrapper{
  width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}

.box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  font-size: 18px;
}

input.opener {
  position: relative;
  display: inline-block;
  margin: 10px 150px;
  padding: 10px;
  text-align: left;
  cursor: default;
  border: 1px solid #999;
  background: rgba(250, 250, 250,.6);
  max-width: 300px;
  color: #333;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-size: 150%;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-size: 150%;
}

.balloon-large {
  font-size: 350%;
  text-align: center;
  font-weight: 100;
  line-height: 1;

}

.mbBalloonOverlay {
  /*background: linear-gradient(135deg, rgba(229, 143, 39, 0.70) 0%, rgba(242, 190, 1, 0.70) 100%);*/
  background-color: rgba(33, 33, 33, 0.84);
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

  .box {
      position: relative;
      display: inline-block;
      margin: 20px 0;
      vertical-align: top;
      padding: 10px;
      text-align: center;
      cursor: default;
      max-width: 220px;
      font-size: 18px;
      color: #333;
      border-radius: 5px;
      border: 1px solid #f3f3f3;
      min-height: 200px;
      min-width: 340px;
      /*background-color: rgba(229, 143, 39, 0.71);*/
      background: linear-gradient(90deg, #ffffff 0%, #dcdcdc 100%);
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

}

.mbBalloonOpener.highlight{
  box-shadow: 0 0 30px 3px rgba(255, 255, 255, 0.90);
}

#forkOnGit{position: fixed;height: 150px;width: 150px;overflow:hidden;padding: 0;margin: 0;top:0;right: 0;z-index: 1;}
#forkOnGit a{display: block;width: 150%;font-size: 14px;font-family: Frutiger, "Frutiger Linotype", "Helvetica Neue", Helvetica, Arial, sans-serif;background-color: #333;color: #FFF;word-spacing: 2px;text-decoration: none;padding: 5px 15px 5px 25px;position:relative;left: 25px;top: -40px;text-align: center;transform-origin: 0 0 ;transform:rotate(45deg);}
#forkOnGit a:hover {background-color: #000;}


/* custom balloon style */
.created-div{
  font-size: 1.3em;
}