@font-face {
    font-family: 'charter_bold_italic';
    src: url('./fonts/charter/Charter Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'charter_bold';
    src: url('./fonts/charter/Charter Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'charter_italic';
    src: url('./fonts/charter/Charter Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'charter_regular';
    src: url('./fonts/charter/Charter Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* CooperHewitt font */
  @font-face {
    font-family: CooperHewitt-Bold;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Bold.otf") format("opentype"), 
    url("./fonts/cooper-hewitt/CooperHewitt-BoldItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Book;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Book.otf") format("opentype"),  
    url("./fonts/cooper-hewitt/CooperHewitt-BookItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Heavy;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Heavy.otf") format("opentype"),  
    url("./fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Light;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Light.otf") format("opentype"),  
    url("./fonts/cooper-hewitt/CooperHewitt-LightItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Medium;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Medium.otf") format("opentype"),  
    url("./fonts/cooper-hewitt/CooperHewitt-MediumItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Semibold;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Semibold.otf") format("opentype"), 
    url("./fonts/cooper-hewitt/CooperHewitt-SemiboldItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: CooperHewitt-Thin;
    src: url("./fonts/cooper-hewitt/CooperHewitt-Thin.otf") format("opentype"), 
    url("./fonts/cooper-hewitt/CooperHewitt-ThinItalic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }