/* css from template */
html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
#page {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-areas: "header header header"
                       "left   center right"
                       "footer footer footer";
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 33% 33% 34%;
}
#page > .header {
  grid-area: header;
  display: flex;
  background-color: #8ca0ff;
}
#page > .description {
  grid-area: left;
  display: flex;
  background-color: #ffa08c;
  position: relative;
}
#page > .description > .rdw-editor-wrapper{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#page > .summary {
  grid-area: center;
  display: flex;
  background-color: #8cffa0;
}
#page > .search {
  grid-area: right;
  display: flex;
  background-color: #ffff64;
}
#page > .footer {
  grid-area: footer;
  display: flex;
  background-color: #f0f0f0;
}
.react-wysiwyg-typescript-toolbar{
  flex: none;
  margin-bottom:0px !important;
}
.react-wysiwyg-typescript-editor{
  background-color: beige;
}